:root {
  --bg-color: rgb(0, 0, 0);
  --card-bg: #192734;
  --text-color: #ffffff;
  --text-secondary: #8899A6;
  --accent-purple: #9945FF;
  --accent-green: #14F195;
  --border-color: #38444D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Popins, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100%;
  background-image: url("../public/background.jpg");
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Title {
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #c0c0c0, #808080, #ffffff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  margin: 0;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  gap: 20px;
}
@media (max-width: 1250px) {
  .form{
    padding: 50px !important;
  }
  .Title {
    font-size: 3rem;
  }
}

@media (max-width: 1025px) {
  .main {
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
  }
}

/* Media query for screens smaller than 768px (like tablets and mobile devices) */
@media (max-width: 930px) {
  .header {
    padding: 10px 12px;
  }

  .Title {
    font-size: 2.5rem;
  }

  .main {
    flex-direction: column;
    padding: 15px 30px;
    gap: 15px;
  }
  .Head{
    flex-direction: column;
    padding: 10px 10px !important;
  }
  .Head .wallet-adapter-button-trigger{
    padding: 4px 16px !important;
  }
}

/* Media query for screens smaller than 480px (like mobile devices) */
@media (max-width: 610px) {
  .header {
    padding: 8px 10px;
  }

  .Title {
    font-size: 1.8rem;
  }

  .wallet-adapter-dropdown .button{
    font-size: 10px !important;
  }

  .main {
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
  }
}
