.customize-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 0 20px;
  width: 100%;
}

.form {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(138%);
  -webkit-backdrop-filter: blur(20px) saturate(138%);
  background-color: rgba(17, 25, 40, 0);
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100%;
}

.gradient-text {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  background: linear-gradient(to left, #c0c0c0, #ffffff, #ffffff, #c0c0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0, 1);
}

.form-input, .form-textarea {
  width: 100%;
  padding: 12px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0,0,0, 1);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: #170D21;
  font-size: 1rem;
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-button, .wallet-button,
.copy-button, .tweet-button {
  background-color: white;
  color: var(--bg-color);
  border: none;
  padding: 12px 20px;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 3px 10px rgba(0,0,0, 1);
}

.submit-button:hover, .wallet-button:hover,
.copy-button:hover, .tweet-button:hover{
  background-color: rgba(255, 255, 255, 0.9);
}

.wallet-adapter-button-trigger{
  background-color: white;
  color: var(--bg-color);
  border: none;
  padding: 5px 20px !important;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 3px 10px rgba(0,0,0, 1);
}
.wallet-adapter-button.wallet-adapter-button-trigger {
  font-size: 12px;
}

.wallet-adapter-button-trigger:hover  {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.wallet-adapter-button-start-icon{
  margin-right: 0px;
}

.wallet-adapter-button-start-icon img{
  width: 20px;
}

/* Media query for screens smaller than 768px (like tablets and mobile devices) */
@media (max-width: 768px) {
  .customize-form {
    padding: 0px;
  }
  .gradient-text {
    font-size: 2rem;
  }

  .form {
    padding: 12px;
  }

  .form-input, .form-textarea {
    padding: 10px;
    font-size: 0.9rem;
  }

  .submit-button, .wallet-button,
  .copy-button, .tweet-button {
    padding: 10px 16px;
    font-size: 0.9rem;
  }

  .wallet-adapter-button-trigger {
    padding: 4px 16px !important;
    font-size: 10px;
  }
}

/* Media query for screens smaller than 480px (like mobile devices) */
@media (max-width: 480px) {
  .gradient-text {
    font-size: 1.5rem;
  }

  .form {
    padding: 10px;
  }

  .form-input, .form-textarea {
    padding: 8px;
    font-size: 0.8rem;
  }

  .submit-button, .wallet-button,
  .copy-button, .tweet-button {
    padding: 8px 12px;
    font-size: 0.8rem;
  }

  .wallet-adapter-button-trigger {
    padding: 3px 12px !important;
    font-size: 8px;
  }
}
