.navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.navButton {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  position: relative;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.navButton.active{
  background-color: rgba(0, 0, 0, 0.3);
}
.navButton.active::after {
  content: '';
  position: absolute;
  bottom: 0px; /* Small gap between the button and the underline */
  left: 50%; /* Position the underline at 50% from the left */
  transform: translateX(-50%); /* Shift the underline to center */
  height: 2px; /* Thickness of the underline */
  background-color: rgba(0, 0, 0, 0.3); /* Light black color for the underline */
  border-radius: 1px;
  width: 70%; /* Width of the underline */
}
